<!DOCTYPE html>
<html>
<head>
<style>
body {
    background-color: #ffffff;
}

h1 {
    color: blueviolet;
    text-align: center;
    
    h2 {colour:green;
    }    
}

p {
    font-family: "Roboto Condensed";
    font-size: 20px;
}
</style>
